html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(pink, violet);
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 27px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  width: 80%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* New Stuff Below */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* This is <ul id="tasks"> in index.html */
#tasks {
  list-style: none;
  padding: 0;
}

/* The space between #tasks and li means any <li> inside <ul id="tasks"> */
#tasks li {
  width: 100%;
  display: block;
  padding: 4px 6px 5px;
  border-top: 1px solid lightgray;
}

/* This is the first <li> in the list */
#tasks li:first-child {
  border-top: none;
}

/* This means <li> with class high, medium, or low inside <ul id="tasks">
The selectors are one level more specific than the #tasks li above 
in order to overwrite those styles. The commas mean that we are targetting
multiple selectors at the same time. */
#tasks li.high, 
#tasks li.medium, 
#tasks li.low {
  border: none;
  padding: 0;
}

/* This is a button inside an <li> inside <ul id="tasks"> */
#tasks li button {
  padding: 0.8em;
  font-size: 0.5em;
  margin-left: 0.5em;
  line-height: 0.7;
  float: right;
  cursor: pointer;
}

/* This is a <span> inside an <li> inside <ul id="tasks"> */
#tasks li span {
  float: right;
  margin-right: 10px;
  font-size: 80%;
  line-height: 1.5;
  background: white;
  border-radius: 10px;
  padding: 0 1em;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0px -1px 3px #d1d1d1;
}

/* These target the data tags referenced on line 38 of index-with-comments.js */
li[data-priority="low"] {
  background: lightgreen;
}
li[data-priority="medium"] {
  background: lightyellow;
}
li[data-priority="high"] {
  background: orangered;
}